@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: white;
}

body{
    background-color: black;
    
}

.banner{
  
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(#00000099, #31A8DD33, #00000099), url(/assets/images/banner.png);
    border-bottom: 1px solid #33A8DB;
    padding-top: 60px;
   
}
.banner .banner-content{
   width: 600px;
    margin: auto;
   text-align: center;
}

.banner h1{

font-size: 40px;
background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}

h2{

font-weight: 700;
font-size: 32px;
color: #33A8DB;

margin: 20px;
}

.banner .logo img{
margin: auto;
object-fit: contain;
margin-bottom: 16px;
}

.banner p{ 
font-weight: 400;
font-size: 20px;
text-align: center;
color: #FFFFFF;
margin: 20px;
}

.banner .banner-content button{
    color: #31A8DD;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(#3BA1CD, #1572B7) 1;
    margin-bottom: 40px;
}

#course-content{
    text-align: center;
    width: 792px;
    margin: 50px auto;
}

#course-content .modules-list{
    margin: 20px 0;
}

#course-content .modules-list .module{
    width: 536px;
    border: 1px solid #33A8Db;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    margin: 0 auto;
    margin-bottom: 20px;
}

#course-content .modules-list .module span{
    color: #33A8DB;
}

#transform-world{
    background-image: url(/assets/images/woman-code.png);
    height: 363px;
    background-size: cover;
    background-attachment: fixed;
    border-top: 2px solid #33A8DB80;
    border-bottom: 2px solid #33A8DB80;
    padding: 100px 100px 0px 150px;
    text-shadow: 3px 2px #33A8DB;
}

#transform-world p{
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;
    max-width: 244px;
}

#professional-challenges{
    text-align: center;
    width: 800px;
}

#professional-challenges{
    margin: 40px auto;
}

footer{
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}

footer a{
    color: #33A8Db;
    font-weight: bold;
    text-decoration: none;
}